body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkczGmH6Z6F5H70RKVtqz5uVMswdXOceuBwA&usqp=CAU);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

h1 {
    color: brown;
    
}
img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: #ffff;
    padding: 50px;
    border-radius: 2em;
    border: 30px solid red       
        
}

#spanId {
    font-size: 18px;
    margin: 50px;   
    
}

div {
    background-color: #ffff;
}
